/* Universal */
*{
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Lemon', cursive; */
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Raleway',
    sans-serif;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

/* Forms */
#form {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 6em;
}

#form input {
  margin: 3%;
  justify-content: center;
}

#form h3 {
  font-family: 'Lemon', cursive;
  font-size: 2em;
}

/* Search */
.search {
  display: flex;
  justify-content: right; 
  padding-right: 4%;
}

/* Header and NavBar */
#header{
  display: flex;    
  justify-content: center;
  padding: 2%;
  font-size: 3em;
  font-family: 'Lemon', cursive;
}

#navbar{
  background-color: #B48C64;
  color: #edf6f9;
  width: 100%;
} 

.navlinks {
  text-align: center;
  display: flex;
  justify-content: center;
}

li.navlinks {
  list-style: none;
  font-size: 1em;   
  padding-left: 5%; 
  padding-right: 5%;
  padding-bottom: 1%;
  font-family: 'Raleway', sans-serif;
}

/* Container and Cards */
/* .container {

} */

.container h3{
  font-family: 'Lemon', cursive;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

/* .plantcard {

}  */
