/* Universal */
*{
  font-family: 'Raleway', sans-serif;
  /* font-family: 'Lemon', cursive; */
}

/* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Raleway',
    sans-serif;   
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}  */

/* Forms */
.form {
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.form input {
  margin: 3%;
  justify-content: center;
}

.form h3 {
  font-family: 'Lemon', cursive;
  font-size: 2em;
  padding: 2%;
}

.form-landing {
  display: flex;
  flex-direction: column; 
  align-items: center;
  padding-top: 25%;
}

/* Search */
.search {
  display: flex;
  justify-content: right; 
  padding-top: 1.5%;
  padding-right: 2%;
}

/* Header and NavBar */
#header{
  display: flex;    
  justify-content: center;
  color: #edf6f9;
  padding: 2%;
  font-size: 3em;
  font-family: 'Lemon', cursive;
}

#navbar{
  background-color: #B48C64;
} 

.navlinks {
  display: flex;
  justify-content: center;
  font-size: 1em;
  font-family: 'Raleway', sans-serif;
  color: #0A4131;
}

/* Container and Cards */
.container h3{
  font-family: 'Lemon', cursive;
  font-size: 2em;
  padding: 4%;
  display: flex;
  justify-content: center;
}

.container{
  display: flex;
  justify-content: center;
}

.plantcard{
  display: flex;
  align-items: right;
}

